/* Generic Shit */
.alert { text-align:left; }
.alert p { margin-bottom:0; padding-bottom:0; }

/* Main Interface Area */
body.interface{
    padding-top:71px;
}

.form-top-margin{
    margin-top:15px;
}
.thumbnail .image-container{ height:150px; overflow:hidden; display:block; }
.thumbnail .image-container img{  max-height:150px; display:block; margin:0 auto; border-radius:3px; }
.thumbnail .caption {  font-size:12px; }